@using SchoolApp.DAL.ViewModels
@model ResetPasswordViewModel

<h2>إعادة تعيين كلمة السر</h2>

<form method="post">
    <input type="hidden" asp-for="Username" />
    <input type="hidden" asp-for="Token" />

    <div class="form-group">
        <label asp-for="NewPassword">كلمة السر الجديدة</label>
        <input asp-for="NewPassword" class="form-control" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">إعادة التعيين</button>
</form>
